:root {
  --border-color: #dddddd;
  --background-light: #fafafa;
  --text-color: #333333;
  --green: #41B883;
  --light-green: #9bffd2;
  --red: #ff6767;
  --light-red: #ffbbbb;
  --blue: #7eabff;
  --light-blue: #b9d2ff;
  --box-shadow-color: rgb(0, 0, 0, .125);
}

/* para quem acessar do navegador no celular, diminuir a fonte do html
para redimensionar as medidas em rem */
@media (max-width: 425px) {
  html {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  color: var(--text-color);
}

li {
  list-style: none;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-light);
  overflow: hidden;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: .25rem;
  padding: 1rem;
  background-color: #ffffff;
  transition: box-shadow 200ms;
  display: flex;
  align-items: center;
  height: 10rem;
}

.card:hover {
  box-shadow: 0 0 8px var(--box-shadow-color);
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  overflow: auto;
}

.explanation {
  margin-bottom: 1rem;
  text-align: center;
}

.states-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33% - 1rem), 1fr));
  gap: 1rem;
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .states-list {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
  }
}

@media (max-width: 600px) {
  .states-list {
    grid-template-columns: 1fr;
  }
}

.state-name {
  font-size: 1.25rem;
  font-weight: 500;
}

.state-sigla {
  font-size: .8rem;
}

.state-capital {
  margin-top: .5rem;
  font-size: .875rem;
}

.image-flag-container {
  margin-right: 1rem;
  width: 10rem;
}

footer {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  font-weight: 600;
}

.filter-container {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.select-wrapper {
  position: relative;
  border: 1px solid var(--border-color);
  max-width: 15rem;
  width: 100%;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
  background-color: #ffffff;
  transition: 200ms;
  margin-left: 1rem;
}

.select-wrapper:hover {
  box-shadow: 0 0 0 2px var(--green);
}

.arrow-wrapper {
  height: 100%;
  padding-top: 10px;
  position: absolute;
  right: 13px;
  top: 0;
  z-index: 0;
  transition: transform 150ms ease-in;
}

.arrow-down {
  width: .75rem;
  height: .75rem;
  border: 3px solid var(--text-color);
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}

.arrow-up {
  transform: rotate(180deg);
  transform-origin: center;
}

.selected-value {
  font-weight: 600;
}

.selection-list {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 0 0 .25rem .25rem;
  width: 100%;
  left: 0;
  top: 40px;
  transform: translateY(-50px);
  opacity: 0;
  animation: showList 300ms forwards;
}

@keyframes showList {
  to {
    transform: initial;
    opacity: inherit;
  }
}

.selection-option {
  padding: .5rem 1rem;
}

.selection-option:hover {
  background-color: var(--green);
  color: #ffffff;
  font-weight: 600;
}

.hide-list {
  display: none;
}